.navbar-nav .nav-link.active{
    color: #fff;
    background-color: #000;
}
header{
    background-color: rgb(241, 137, 1);
    color: #000;
    position: sticky;
    top: 0;
    z-index: 3;
}
.carousel img{
    height: 600px;
}
.carousel{
    margin-bottom: 50px;
}

.card{
    margin-bottom: 16px;
    border-radius: 25px;
    text-align: center;
}
.card img{
    max-height: 210px;
}
.nav-link{
    text-align: center;
}
#about img{
    border-radius: 20px;
    margin-bottom: 16px;
}
@media screen and (max-width: 576px){
    #about img{
        width: 300px;
    }
}
@media screen and (min-width:768px){
    #about img{
        width: 600px;
    }
}
form input{
    margin-bottom: 8px;
}
form label{
    display: block;
}
textarea{
    height: 200px;
    resize: none;
}
.btn{
    display: block;
    margin: 8px 0;
}
.error{
    color: red;
    display: block;
}
.alert-success{
    display: none;
}
.alert-danger{
    display: none;
}
section{
    padding-top: 75px;
}
.nav-link:hover{
    background-color: #000;
    color: #fff;
}
.nav-link{
    margin-right: 8px;
}
footer{
    background-color: rgb(241, 137, 1);
    padding: 16px 0;
    color: #fff;
    text-align: center;
    margin-top: 32px;
}